:root {
	--primary-color: #000000;
	--secondary-color: #ffffff;
	--background-color: #edeff1;
	--accent-color: #ffd619;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	text-align: center;
	padding: 15px;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 50px;
	background-color: antiquewhite;
}
#logo {
	width: 30px;
	height: 30px;
}
#categories {
	display: flex;
	font-size: 20px;
}
.category1 {
	font-weight: 900;
}
#categories .category:not(:last-child) {
	margin-right: 20px;
}
#account-info {
	display: flex;
	align-items: center;
}
#account-info img {
	width: 30px;
	height: 30px;
}
#account-info div:not(:last-child) {
	margin-right: 20px;
}
#search-cont {
	display: flex;
	align-items: center;
	position: relative;
}
input[id="search"] {
	background-color: var(--background-color);
	border: 1px solid var(--secondary-color);
	outline: none;
	font-size: 20px;
	padding: 8px 20px;
	transition: border 1s ease-in-out;
}
input[id="search"]::placeholder {
	color: var(--primary-color);
	opacity: 1;
}
input[id="search"]:focus {
	border: 1px solid var(--primary-color);
}
#search-btn {
	position: absolute;
	right: 0;
}
#wishlist-cont,
#cart-cont {
	position: relative;
}
#wishlist-cont a,
#cart-cont a {
	position: relative;
	z-index: 100;
}
.amount {
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -25px;
	background-color: var(--accent-color);
	color: var(--primary-color);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 20px;
}
