@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
	--blue: #1e90ff;
	--gray: #808080;
	--white: #ffffff;
	--orange: #ffa500;
	--black: #000000;
  }
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	font-size: 1.2rem;
}



/* HEADER */
#header{
	display: flex;
	height: 6rem;
	background-color: var(--white);
	border-bottom: 1px solid var(--gray);
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}
.logo{
	font-size: 2rem;
	font-weight: 800;
	color: orange;
}
.header-middle{
	display: flex;
	min-width: 60%;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.header-middle .input-cont{
	position: relative;
	width: 90%;
}
.header-middle #input-item{
	width: 100%;
	height: 2.5rem;
	border-radius: 3rem;
	border: 2px solid var(--black);
	text-indent: 2rem;
}
.header-middle .clear-btn{
	position: absolute;
	display: flex;
	right: 2%;
	top: 15%;
	width: 2rem;
	height: 2rem;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.header-middle .clear-btn{
	font-weight: 600;
}
.header-middle .clear-btn:hover{
	background-color: var(--gray);
}
.header-middle .search-btn{
	background-color: orange;
	display: flex;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}
.search{
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
}
.header-middle .search-btn:hover{
	opacity: 0.8;
}
.header-right{
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}
.header-right a:nth-child(1){
	padding: 0.3rem 0.5rem;
	border-radius: 1rem;
	color: var(--black);
	transition: 0.4s ease-in;
}
.header-right a:nth-child(n+2){
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	color: var(--black);
	transition: 0.4s ease-in;
}
.header-right a:hover{
	background-color: orange;
	color: var(--white);
}

@media (max-device-width: 480px){
	.container{
		overflow-x: hidden;
	}
	#header{
		position: relative;
		align-items: first baseline;
		padding: 0 0.7rem;
	}
	.header-middle{
		position: absolute;
		top: 50%;
		left: 0; 
		right: 0; 
		margin: 0 auto;
		padding: 0 0.8rem;
	}
	.header-right{
		gap: 0;
		justify-content: space-evenly;
	}
}


/* SECTION WITH ITEMS */
#section{
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.items{
	padding: 2rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #000000;
}

.item{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-bottom: 2rem;
	background-color: #ffffff;
	width: 15rem;
	cursor: pointer;
}
.item:not(:last-child){
	margin-right: 20px;
}
.item-image{
	width: 100%;
}
.item-description{
	width: 100%;
	text-align: center;
}
.item-description p{
	color: var(--black);
	font-size: 2rem;
}
.item-description span{
	color: var(--gray);
	font-size: 2rem;
}
.item:hover{
	opacity: 0.7;
}